.showcase_item {
    float: left;
    width: 200px;
    display: inline-block;
    margin: 15px;
}

.showcase_box {
    /* Complete width should be 230px, so that 4 can fit in the showcase */
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #E6E6E6;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    display: inline-block;
    padding: 10px;
}

.showcase_authors {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.showcase_links {
    text-align: right;
}

.showcase_links a {
    margin-left: 20px;
    text-decoration: none;
}

.showcase_links a.current_showcase_section_link {
    text-decoration: underline;
}